*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}



/*_____________________________


    HEADER

_______________________________*/

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 3;
}

header nav {
    max-height: 150px;
    max-width: 100%;
    width: 100%;
    padding: 60px 180px 20px 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul-nav {
    transform: translateY(-120%);
    position: fixed;
    height: 100%;
    background: rgba(0,0,0,0.96);
    color: white;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    transition: 0s 0.8s;
    display: flex;
    font-size: 4.2rem;
    font-weight: 900;
    gap: 60px;
    padding: 100px 180px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    backdrop-filter: blur(2px);
}

.list a {
    color: white;
}

.list {
    transition: all .4s ease-in-out;
}

.list:hover {
    transform: translateX(-15%);
}


.ul-nav.show {
    transform: translateY(0);
}



.burger,
.burger2{
    border: none;
    background: transparent;
    cursor: pointer;
}

.logo-img {
    width: 50px;
    height: 50px;
}

.burger > img {
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
}

.burger.hidden {
    display: none;
}

.burger2 {
    position: absolute;
    top: 6%;
}

.burger2 > img {
    height: 40px;
    width: 40px;
    filter: invert(1);
}
  

.transition {
    position: fixed;
    height: 0%;
    top: 0;
    left: 0;
    width: 100%;
    background:#000;
    border-radius: 0px 0px 100px 100px;
    z-index: 999;
  }
  
  .anim-trans {
    animation: anim 1.5s ease-out;
}
  

  @keyframes anim{
       0% { }
       20%  { transform: translateY(0); height:100%; z-index:999; border-radius: 0px 0px 400px 400px; }
       40%   { transform: translateY(0); height:100%; z-index:999; border-radius:0px 0px 0px 0px;}
       60%   { transform: translateY(0); height:100%; z-index:999; border-radius: 0px 0px 0px 00px;}
       80%   { transform: translateY(-100%); height:60%; z-index:999; border-radius: 0px 0px 0px 0px;}
       100%   {  transform: translateY(-100%); height:60%; z-index:999; border-radius: 0px 0px 0px 0px;}
  }

/*_______________________________


    Main

_______________________________*/


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  padding: 150px 250px;
  overflow-x: hidden;
  gap: 80px;
  z-index: 2;
  margin-bottom: 500px;
  position: relative;
}

.scroll {
  width: 2.5em; 
  height: 2.5em; 
  background-color: transparent;     
  bottom: 35px; 
  position: absolute;
  border-width: 0 0.25em 0.25em 0; 
  border-style: solid; 
  border-color: rgb(255, 255, 255); 
  animation: scrolldown 1.3s ease-in-out infinite 0.15s;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  cursor: pointer;
  z-index: 1;
}


.section,
.section2,
.section3 {
  height: 70vh;
}

.section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.section > div {
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.section h1 {
  font-size: 4em;
  font-weight: 400;
}

.section a {
    color: black;
}

.section span,
.project-header span {
    background-color: black;
    height: 2px;
    width: 100%;
    display: block;
    transition: 1s ease-in-out;
    margin-top: 2px;
}

.section-hover:hover  span {
    width: 0%;
} 

.section2 {
  transform: translateX(300px);
  width: 100%;
  overflow: hidden;
}

.section2 div {
  width: 110%;
  height: 100%;
  background-position: center;
  background-image: url('../public/cover.jpg');
  transition: 0.6s ease-in-out;
  background-size: cover;
}

.section2:hover div {
  transform: translateX(-10%);
}


.section3-div h1 {
    font-weight: 200;
}



.section3 {
  width: 130%;
  height: 80vh;
  padding-top: 20px;
  z-index: 17;
  transform: translateX(210px);
}

.section3-div {
  border-top: 1px solid rgba(128, 128, 128, 0.452);
  display: flex;
  gap: 20px;
  align-items: center;
  width: 77%;
  padding-top: 20px;
}

.section-arrow {
  height: 25px;
  width: 25px;
}

.section3-div > a {
  margin-left: auto;
  color: black;
}







@keyframes scrolldown {
  0%{
      transform: translateY(20%) translateX(-50%) rotate(45deg);
      opacity: 0.7;
  }
  50%{
      transform: translateY(0%) translateX(-50%) rotate(45deg);
      opacity: 0.2;
  }
  100%{
      transform: translateY(20%) translateX(-50%) rotate(45deg);
      opacity: 0.7;
  }
}


/*_______________________________


    Previewed projects 

________________________*/


.projects {
    display: flex;
    gap: 20px;
    margin-top: 100px;
    overflow-x: auto;
    height: 75%;
}

.preview-project-div {
    min-width: 460px;
}

.projects::-webkit-scrollbar {
    display: none;
  }

.project-div > a,
.preview-project-div > a {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.5em;
    overflow: hidden;
    height: 100%;
}

.project-div p,
.preview-project-div p {
    color: black;
}

.projects > :nth-child(even) {
    height: 360px;
}

.projects > :nth-child(odd) {
    height: 490px;
}



.project-div:hover a > div,
.preview-project-div:hover a > div {
    transform: translateX(-10%);
  }
  

.background{
    background-position: center;
    background-size: cover;
    background-image: url('../public/logo_bg.svg');
    transform: translateX(-7.5%);
    width: 115%;
    height: 100%;
    transition: 0.4s ease-in-out;
}



/*___________________________


     Footer 

________________________*/



.footer {
    height: 500px;
    background-color: black;
    width: 100%;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding: 100px 100px 50px 100px;
    flex-direction: column;
    gap: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
}

.footer-logo-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    font-size: 1.5em;
}

.footer-info-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.9em;
}


.footer .logo {
    filter: invert(1);
    height: 60px;
    width: auto;
}

.socials {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.social-img {
    height: 25px;
    filter: invert(1);
    width: auto;
    cursor: pointer;
}
.social-img.ig {
    height: 22px;
    
}


.bottom-bar {
    color: #ffffff57;
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.footer-email > p:first-child {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.685);
}



/*_________________________

    Projects page

____________________________*/

.main-projects {
    padding: 150px 250px;
    margin-bottom: 500px;
    position: relative;
    background-color: white;
    z-index: 2;
}

.projects-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 40vh;
}

.projects-header div {
    width: 70%;
    align-self: center;
}

.projects-header h1 {
    font-size: 4em;
    font-weight: 400;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    height: 100%;
    gap: 20px;
}

.projects-container  > :nth-child(odd) {
    height: 460px;
}

.projects-container  > :nth-child(even) {
    height: 360px;

}

.projects-container .project-div {
    min-width: unset;
    margin-bottom: 100px;
}

.project-div {
    flex-basis: calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
}

[data-ui="NextStudioLayout"]  {
    position: relative;
    z-index: 33;
}



.main-project {
    padding: 150px 250px;
    margin-bottom: 500px;
    position: relative;
    background-color: white;
    z-index: 2;
    min-height: 100vh;
    padding-bottom: 300px;

}

.project-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 40vh;
}



.project-header > div {
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.project-header h1 {
    font-size: 3.5em;
    font-weight: 400;
}

.project-image {
    width: 100%;
    height: 600px;
}

.project-image > div {
    background-image: url(https://cdn.sanity.io/images/1wihf8wm/production/5f123b5…-1440x1440.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: bottom;
}




/*_______________________________


    Contact page

_______________________________*/


.main-contact {
    display: flex;
    min-height: 100vh;
    background-color: white;
    padding: 250px 250px 150px 250px;
    position: relative;
    z-index: 2;
    justify-content: center;;
  }

.main-contact section {
    transform: translateX(-5%);
}

.contact-header {
    margin-bottom: 100px;
}

.contact-header h1 {
    font-size: 5em;
}

.contact-email {
    font-size: 1.5em;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-email > p:first-child {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.658);
}

.contact-socials {
    font-size: 1em;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.contact-socials > p:first-child {
    color: rgb(0 0 0 / 32%);
    font-weight: 700;
}

.contact-socials > p:last-child {
    cursor: pointer;
}

.contact-hover span {
    background-color: black;
    height: 2px;
    width: 0%;
    display: block;
    transition: 0.8s ease-in-out;
    margin-top: 2px;
}

.contact-hover:hover  span {
    width: 100%;
} 





















@media screen and (max-width: 764px) {
    header nav {
        padding: 20px 25px 15px 25px;
    }
    .ul-nav {
        gap: 40px;
        padding: 20px 30px;
        font-size: 2.5em;
    }
    .logo-img,
    .burger > img,
    .burger2 > img {
        width: 35px;
        height: 35px;
    }



    .main {
        padding: 50px 0px;
        margin-bottom: 375px;
        padding-bottom: 150px;
    }

    .main-projects {
        padding: 50px 20px;
        margin-bottom: 375px;
        padding-bottom: 150px;
    }

    .main-project {
        padding: 50px 0px;
        margin-bottom: 375px;
        padding-bottom: 150px;
    }

    .section {
        height: 65vh;
        padding: 0px 25px;
    }

    .section h1,
    .projects-header h1,
    .project-header h1 {
        font-size: 2.2em
    }

    .project-header {
        padding: 0px 20px;
        height: 30vh;
    }

    .project-image {
        width: 100%;
        height: 300px;
    }

    .section2 {
        height: 22vh;
        transform: translateX(40px);
        width: 110%;
        margin-bottom: 60px;
    }

    .section3 {
        width: 100%;
        height: 93vh;
        padding-top: 20px;
        transform: unset;
    }

    .section3-div {
        gap: 10px;
        align-items: center;
        width: 90%;
        padding-top: unset;
        padding: 10px 5px 0px 5px;
        font-size: 14px;
        margin: auto;
      }

    .section-arrow {
        height: 16px;
        width: 16px;
      }



    .preview-project-div {
        min-width: 80%;
    }

    .project-div > a,
    .preview-project-div > a {
        font-size: 1.15em;
    }

    .section3 > .projects > .preview-project-div:first-child {
        margin-left: 20px;
    }
    .section3 > .projects > .preview-project-div:last-child {
        margin-right: 20px;
    }
    
    .footer {
        padding: 30px 40px;
        font-size: 20px;
        height: 375px;
        gap: 20px;
    }
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .project-div {
        flex-basis: 100%;
        max-width: 100%;
    }

    .footer .logo {
        height: 35px;
    }
    .footer-logo-div {
        gap: 15px;
        font-size: 1.1em;
    }
    .main-contact {
        padding: 100px 20px 50px 20px;
    }
    .contact-header {
        margin-top: 50px;
    }
    .contact-header h1 {
        font-size: 2em;
    }
      
}